a{
    color: rgb(117, 76, 53) !important;
}

.navbar-bg-color-purple{
    background-color: rgb(226, 173, 148) !important;
}

.cards-bg-color{
    background-color: rgb(255, 188, 158) !important;
}

